@font-face {
    font-family: 'iCiel Cadena';
    src: url('iCielCadena.eot');
    src: url('iCielCadena.eot?#iefix') format('embedded-opentype'),
        url('iCielCadena.woff2') format('woff2'),
        url('iCielCadena.woff') format('woff'),
        url('iCielCadena.ttf') format('truetype'),
        url('iCielCadena.svg#iCielCadena') format('svg');
    font-weight: 900;
    font-style: normal;
}

