/* module css 01
 -----------------------------------------------------*/
.md-mobile {
  display: none !important; }

.md-desktop {
  display: block !important; }

@media screen and (max-width: 767px) {
  .md-mobile {
    display: block !important; }

  .md-desktop {
    display: none !important; } }
.container-grid-4 {
  margin: 0 auto;
  width: 81.25%; }

@media screen and (max-width: 767px) {
  .container-grid-4 {
    width: 100%;
    padding: 3%; } }
.section-9 {
  background: url(../images/bg-sc-9.jpg) no-repeat top left;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  padding: 70px 0px 40px;
  background-color: #0f5cac; }
  .section-9 .md-form {
    float: left;
    width: 42.7%;
    display: inline-block; }
    .section-9 .md-form h3 {
      color: #fab126;
      text-align: center; }
    .section-9 .md-form .ui.form label {
      display: block;
      color: #FFF;
      font-size: -webkit-calc(5px + 0.8vw);
      font-size: calc(5px + 0.8vw); }
    .section-9 .md-form .ui.form .field {
      width: 32%;
      display: inline-block; }
      .section-9 .md-form .ui.form .field label {
        padding-left: 1.45em; }
      .section-9 .md-form .ui.form .field label:before {
        border: 1.5px solid #FFF;
        background: transparent !important; }
      .section-9 .md-form .ui.form .field label:after {
        background-color: #fab126 !important; }
      .section-9 .md-form .ui.form .field .ui.checkbox.checked label:before {
        border-color: #fab126 !important;
        background: transparent !important;
        border: 1.5px solid #fab126 !important;
        border-color: #fab126 !important; }
    .section-9 .md-form .ui.form input[type="button"] {
      border: none;
      margin: 0 auto;
      display: table;
      white-space: nowrap;
      cursor: pointer;
      color: #000;
      background: #e6a427;
      text-align: center;
      font-family: 'iCielCadena';
      padding: 10px 19px;
      min-width: 180px;
      border-radius: 20px;
      font-size: -webkit-calc(5px + 0.8vw);
      font-size: calc(5px + 0.8vw);
      border: 2px solid #e6a427; }
      @media screen and (max-width: 768px) {
        .section-9 .md-form .ui.form input[type="button"] {
          font-size: -webkit-calc(8px + 2vw);
          font-size: calc(8px + 2vw); } }
      .section-9 .md-form .ui.form input[type="button"]:hover {
        color: #FFF;
        border: 2px solid #FFF; }
    .section-9 .md-form .md-col {
      margin-bottom: 20px; }
      .section-9 .md-form .md-col:first-child {
        margin-bottom: 0px; }
    .section-9 .md-form .error {
      font-size: 12px;
      color: #ff0000;
      padding-top: 5px; }
  .section-9 .organizational {
    padding-top: 10px;
    width: 56.3%;
    float: left; }
    .section-9 .organizational .img-1 {
      width: 54.5%;
      margin-left: 21%;
      margin-bottom: 10px; }
    .section-9 .organizational .img-2 {
      width: 35%;
      margin-left: 30%; }
      .section-9 .organizational .img-2 p {
        text-align: center;
        margin-bottom: 5px;
        color: #FFF; }
      .section-9 .organizational .img-2 img {
        width: 100%; }

@media screen and (max-width: 1110px) {
  .section-9 .organizational .img-1 {
    margin-bottom: 50px; } }
@media screen and (max-width: 767px) {
  .section-9 {
    background: url(../images/bg-sc-9-mb.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-color: none;
    padding: 50px 0px; }
    .section-9 .md-form {
      width: 100%;
      margin-bottom: 30px;
      padding: 0px 16%; }
      .section-9 .md-form .ui.form label {
        font-size: -webkit-calc(8px + 1.7vw);
        font-size: calc(8px + 1.7vw); }
    .section-9 .organizational {
      width: 100%; }
      .section-9 .organizational .img-1 {
        display: none; }
      .section-9 .organizational .img-2 {
        display: table;
        margin: 0 auto; }
        .section-9 .organizational .img-2 img {
          min-width: 200px; }

  .section-9 .md-form .error {
    font-size: -webkit-calc(11px + 0.3vw);
    font-size: calc(11px + 0.3vw); }

  .section-9 .md-form .ui.form .field label {
    padding-left: 1.3em; } }
@media screen and (max-width: 520px) {
  .section-9 .md-form .ui.form .field label {
    font-size: -webkit-calc(6px + 1.8vw);
    font-size: calc(6px + 1.8vw); } }
@media screen and (max-width: 430px) {
  .section-9 .md-form {
    padding: 0px 10%; } }
.section-7 {
  text-align: center;
  padding-top: 50px; }
  .section-7 h3 {
    color: #67ad60;
    margin-bottom: 30px; }
    .section-7 h3:hover {
      color: #67ad60 !important; }
  .section-7 .bordered {
    border: solid #ddd 1px;
    border-radius: 20px;
    margin-bottom: 30px; }
    .section-7 .bordered tr th {
      border: solid #ddd 1px;
      padding: 15px 0px;
      border-top: 0px;
      font-size: -webkit-calc(7px + 0.8vw);
      font-size: calc(7px + 0.8vw);
      font-weight: bold; }
      .section-7 .bordered tr th:first-child {
        border-left: 0px; }
      .section-7 .bordered tr th:last-child {
        border-right: 0px; }
    .section-7 .bordered tr td {
      padding: 10px 30px; }
      .section-7 .bordered tr td .img-1 {
        width: 10%; }
      .section-7 .bordered tr td .img-2 {
        width: 12%; }
      .section-7 .bordered tr td span {
        display: block;
        font-weight: 500; }
    .section-7 .bordered tr td:first-child {
      text-align: left;
      width: 33%;
      border: solid #ddd 1px;
      border-left: 0px;
      font-weight: bold; }
    .section-7 .bordered tr td:nth-child(2) {
      width: 22.5%;
      border: solid #ddd 1px; }
    .section-7 .bordered tr td:nth-child(3) {
      width: 21.3%;
      border: solid #ddd 1px; }
    .section-7 .bordered tr td:nth-child(4) {
      border: solid #ddd 1px; }
    .section-7 .bordered tr:last-child td {
      border-bottom: 0px; }
    .section-7 .bordered tr td:last-child {
      border-right: 0px; }
    .section-7 .bordered .tuition {
      font-family: 'iCielCadena';
      color: #e6a427;
      font-size: -webkit-calc(10px + 0.8vw);
      font-size: calc(10px + 0.8vw);
      font-weight: bold; }
  .section-7 .slide-mb {
    text-align: left;
    margin-bottom: 30px; }
    .section-7 .slide-mb p {
      color: #000;
      border: solid #ddd 1px;
      margin-bottom: 0px;
      padding: 10px 30px; }
      .section-7 .slide-mb p span {
        color: #000;
        display: block;
        color: #e6a427; }
      .section-7 .slide-mb p:first-child {
        border-radius: 20px 20px 0px 0px;
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(2) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(3) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(4) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(5) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:last-child {
        border-radius: 0px 0px 20px 20px; }
    .section-7 .slide-mb .owl-dots .owl-dot.active span {
      background: #67ad60; }
    .section-7 .slide-mb .owl-dots .owl-dot:focus {
      outline: none; }
    .section-7 .slide-mb .owl-dots .owl-dot:hover span {
      background: #67ad60; }
    .section-7 .slide-mb .owl-stage {
      padding-left: 0px !important; }

.section-8 {
  width: 71.5%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 60px; }
  .section-8 p {
    color: #000; }
  .section-8 .top-sc-8 {
    background: #FFF;
    position: relative;
    border: 1.5px dashed #dddddd;
    border-radius: 40px;
    padding: 60px 30px 30px; }
    .section-8 .top-sc-8 .md-rm {
      white-space: nowrap;
      cursor: pointer;
      color: #FFF;
      background: #FFF;
      display: inline-block;
      text-align: center;
      font-family: "iCielCadena";
      padding: 10px 19px;
      min-width: 180px;
      border-radius: 20px;
      z-index: 2;
      font-size: -webkit-calc(8px + 2vw);
      font-size: calc(8px + 2vw); }
      .section-8 .top-sc-8 .md-rm:focus {
        outline: none; }
    .section-8 .top-sc-8 .bg-top {
      background: rgba(255, 255, 255, 0.8);
      height: 20%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%; }
    .section-8 .top-sc-8 h3 {
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      position: absolute;
      top: -25px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%); }
      .section-8 .top-sc-8 h3 p {
        color: #67ad60;
        background: #FFF;
        margin-bottom: 0px;
        display: inline-block;
        padding: 4px 30px; }
      .section-8 .top-sc-8 h3 span {
        color: #67ad60;
        display: block;
        padding: 0px 20px; }
    .section-8 .top-sc-8 .text-1 {
      margin-left: 50px; }
    .section-8 .top-sc-8 .sponsor {
      text-align: center; }
      .section-8 .top-sc-8 .sponsor .text-2 {
        margin-left: 65px;
        color: #1051a1;
        text-transform: uppercase; }
      .section-8 .top-sc-8 .sponsor img {
        margin: 0 auto; }
      .section-8 .top-sc-8 .sponsor .img-1 {
        width: 6.8%;
        margin-right: 20px; }
      .section-8 .top-sc-8 .sponsor .img-2 {
        width: 13.9%; }
  .section-8 .bot-sc-8 {
    position: relative;
    z-index: -1;
    border: 1.5px dashed #dddddd;
    border-radius: 0px 0px 40px 40px;
    background: #fff6e5;
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 20px; }
    .section-8 .bot-sc-8 .left-content {
      width: 37%;
      float: left; }
      .section-8 .bot-sc-8 .left-content p {
        text-align: center;
        padding: 5px 10px;
        border-radius: 20px;
        background: #f31d00;
        color: #FFF;
        width: 84%;
        margin: 0 auto;
        font-size: -webkit-calc(3px + 0.8vw);
        font-size: calc(3px + 0.8vw); }
    .section-8 .bot-sc-8 .right-content {
      width: 62%;
      float: left; }

@media screen and (max-width: 767px) {
  #more {
    display: none; }

  .section-8 {
    width: 94%;
    margin-bottom: 10px; }
    .section-8 .top-sc-8 {
      position: relative;
      padding-top: 80px; }
      .section-8 .top-sc-8 h3 {
        top: -23px;
        padding: 0px 20px; }
        .section-8 .top-sc-8 h3 p {
          font-size: -webkit-calc(8px + 1.7vw);
          font-size: calc(8px + 1.7vw);
          line-height: 1.2em; }
        .section-8 .top-sc-8 h3 span {
          line-height: 1.4em; }
      .section-8 .top-sc-8 .sponsor .text-2 {
        margin-left: 0px; }
      .section-8 .top-sc-8 .sponsor .img-1 {
        width: 14.5%; }
      .section-8 .top-sc-8 .sponsor .img-2 {
        width: 30%; }
      .section-8 .top-sc-8 .border-green {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 5%; }
    .section-8 .bot-sc-8 {
      padding-left: 30px;
      padding-right: 30px; }
      .section-8 .bot-sc-8 .left-content {
        float: none;
        width: 100%;
        margin-bottom: 10px; }
        .section-8 .bot-sc-8 .left-content p {
          margin: 0;
          width: 75%;
          font-size: -webkit-calc(4px + 1.7vw);
          font-size: calc(4px + 1.7vw); }
      .section-8 .bot-sc-8 .right-content {
        float: none;
        width: 100%; } }
@media screen and (max-width: 370px) {
  .section-8 .bot-sc-8 .left-content p {
    width: 85%; } }
@media screen and (max-width: 900px) and (min-width: 767px) {
  .section-8 .top-sc-8 {
    padding-top: 80px; } }
@media screen and (min-width: 768px) {
  .md-rm {
    display: none !important; }

  .bg-top {
    display: none !important; } }
