/* header
 -----------------------------------------------------*/
@media screen and (min-width: 768px) {
  .page-header {
    display: block; }
    .page-header .wrapper-container {
      position: relative; }

  .main-menu {
    margin-top: 2%;
    display: table;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 2%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }

  .left-meta .logo {
    width: 70%; }
  .left-meta .inner-left-meta {
    position: relative; } }
.main-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%); }
  .main-menu ul {
    display: table; }
    .main-menu ul li {
      display: table-cell;
      vertical-align: middle; }
      .main-menu ul li span {
        cursor: pointer;
        color: #FFF;
        padding: 8px 30px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 19px; }
        .main-menu ul li span:hover {
          background: #e6a427;
          color: #FFF;
          -webkit-transition-duration: 0.4s;
               -o-transition-duration: 0.4s;
                  transition-duration: 0.4s; }
      .main-menu ul li.download-pdf {
        padding: 0px 0px; }
        .main-menu ul li.download-pdf a {
          display: inline-block;
          -webkit-background-size: auto 70%;
                  background-size: auto 70%;
          border: 1px solid #4074b4;
          border-radius: 19px;
          margin-left: 30px;
          padding: 8px 30px 8px 60px;
          background: url(../images/pdf.png) no-repeat left 30px center;
          cursor: pointer;
          color: #FFF;
          white-space: nowrap;
          display: inline-block;
          border-radius: 19px; }
          .main-menu ul li.download-pdf a:hover {
            -webkit-transition-duration: 0.3s;
                 -o-transition-duration: 0.3s;
                    transition-duration: 0.3s;
            background: url(../images/pdf.png) no-repeat left 30px center #c01d72; }

.bg-header {
  width: 100%; }

.left-meta {
  position: absolute;
  top: 20%;
  width: 22.55%;
  display: inline-block;
  padding: 0% 0% 0% 30px;
  text-align: center; }
  .left-meta .md-row {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
  .left-meta .logo {
    margin: 0 auto 7% auto; }
    .left-meta .logo a {
      display: block; }
    .left-meta .logo img {
      width: 100%; }
  .left-meta .smd-button {
    clear: both;
    display: inline-block;
    margin: 0 auto 0 auto; }
  .left-meta .scrool-to-section {
    display: inline-block;
    margin: 55% auto 0 auto; }
  .left-meta .sign-in {
    -webkit-animation: leaves 2s ease-in-out alternate;
         -o-animation: leaves 2s ease-in-out alternate;
            animation: leaves 2s ease-in-out alternate; }

.smd-toggle-icon {
  position: absolute;
  top: 15px;
  left: 3.2%;
  display: inline-block; }
  .smd-toggle-icon .inner {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #FFF; }
    .smd-toggle-icon .inner .s-text {
      line-height: 1.8em;
      font-size: -webkit-calc(10px + 1.7vw);
      font-size: calc(10px + 1.7vw); }
    .smd-toggle-icon .inner .s-line {
      display: inline-block;
      width: 100%;
      height: 1px;
      background: #4074b4;
      display: block;
      position: absolute;
      left: 0px; }

@media screen and (max-width: 992px) {
  .main-menu ul li span {
    padding: 8px 20px; } }
@media screen and (max-width: 768px) {
  .page-header .wrapper-container {
    padding: 0px; }

  .left-meta {
    width: 42%;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0% 0% 0% 0px;
    top: -webkit-calc(8% + 0px);
    top: calc(8% + 0px); }

  .main-menu {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
    position: fixed;
    left: -100%;
    background: #425f65;
    z-index: 999;
    min-height: 100%;
    z-index: 9999;
    width: 100%;
    top: 0px;
    -webkit-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s; }
    .main-menu.menu-active {
      left: 0px;
      -webkit-transition-duration: 0.4s;
           -o-transition-duration: 0.4s;
              transition-duration: 0.4s; }
    .main-menu ul {
      position: relative;
      width: 100%;
      padding-top: 50px; }
      .main-menu ul .ico-close-menu {
        font-weight: 400;
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 10px;
        width: auto;
        padding: 0px;
        border: none;
        color: #FFF;
        font-size: 28px; }
      .main-menu ul li {
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 0px;
        border-bottom: 1px solid #FFF;
        width: 100%;
        display: block;
        text-align: center; }
        .main-menu ul li:last-child {
          border-bottom: none; }
          .main-menu ul li:last-child a {
            margin-top: 0.9rem; } }
@media screen and (max-width: 400px) {
  .left-meta {
    top: -webkit-calc(7% - 5px);
    top: calc(7% - 5px); } }
