/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent; }

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  font-size: -webkit-calc(5px + 0.8vw);
  font-size: calc(5px + 0.8vw);
  color: #333;
  line-height: 1.5;
  background: #FFF; }
  body span {
    font-size: -webkit-calc(5px + 0.8vw);
    font-size: calc(5px + 0.8vw); }
  body h3 {
    font-size: 1.9rem;
    line-height: 1.3em; }
  @media screen and (max-width: 768px) {
    body {
      font-size: -webkit-calc(8px + 1.7vw);
      font-size: calc(8px + 1.7vw); }
      body span {
        font-size: -webkit-calc(8px + 1.7vw);
        font-size: calc(8px + 1.7vw); }
      body h3 {
        font-size: 1.75rem; } }

a {
  color: #FFF;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  a:hover {
    text-decoration: none;
    color: red; }
  a:focus {
    outline: none;
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4; }

p {
  margin-bottom: 22px; }
  p:last-child {
    margin-bottom: 0px; }

input[type="submit"] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s; }

.page-header {
  margin: 0;
  padding: 0;
  border: none; }

@font-face {
  font-family: 'iCielCadena';
  src: url(../fonts/iCielCadena/iCielCadena.woff2) format("woff2"), url(../fonts/iCielCadena/iCielCadena.eot) format("eot"), url(../fonts/iCielCadena/iCielCadena.ttf) format("ttf"), url(../fonts/iCielCadena/iCielCadena.woff) format("woff"); }
/* header
 -----------------------------------------------------*/
@media screen and (min-width: 768px) {
  .page-header {
    display: block; }
    .page-header .wrapper-container {
      position: relative; }

  .main-menu {
    margin-top: 2%;
    display: table;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 2%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }

  .left-meta .logo {
    width: 70%; }
  .left-meta .inner-left-meta {
    position: relative; } }
.main-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%); }
  .main-menu ul {
    display: table; }
    .main-menu ul li {
      display: table-cell;
      vertical-align: middle; }
      .main-menu ul li span {
        cursor: pointer;
        color: #FFF;
        padding: 8px 30px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 19px; }
        .main-menu ul li span:hover {
          background: #e6a427;
          color: #FFF;
          -webkit-transition-duration: 0.4s;
               -o-transition-duration: 0.4s;
                  transition-duration: 0.4s; }
      .main-menu ul li.download-pdf {
        padding: 0px 0px; }
        .main-menu ul li.download-pdf a {
          display: inline-block;
          -webkit-background-size: auto 70%;
                  background-size: auto 70%;
          border: 1px solid #4074b4;
          border-radius: 19px;
          margin-left: 30px;
          padding: 8px 30px 8px 60px;
          background: url(../images/pdf.png) no-repeat left 30px center;
          cursor: pointer;
          color: #FFF;
          white-space: nowrap;
          display: inline-block;
          border-radius: 19px; }
          .main-menu ul li.download-pdf a:hover {
            -webkit-transition-duration: 0.3s;
                 -o-transition-duration: 0.3s;
                    transition-duration: 0.3s;
            background: url(../images/pdf.png) no-repeat left 30px center #c01d72; }

.bg-header {
  width: 100%; }

.left-meta {
  position: absolute;
  top: 20%;
  width: 22.55%;
  display: inline-block;
  padding: 0% 0% 0% 30px;
  text-align: center; }
  .left-meta .md-row {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%); }
  .left-meta .logo {
    margin: 0 auto 7% auto; }
    .left-meta .logo a {
      display: block; }
    .left-meta .logo img {
      width: 100%; }
  .left-meta .smd-button {
    clear: both;
    display: inline-block;
    margin: 0 auto 0 auto; }
  .left-meta .scrool-to-section {
    display: inline-block;
    margin: 55% auto 0 auto; }
  .left-meta .sign-in {
    -webkit-animation: leaves 2s ease-in-out alternate;
         -o-animation: leaves 2s ease-in-out alternate;
            animation: leaves 2s ease-in-out alternate; }

.smd-toggle-icon {
  position: absolute;
  top: 15px;
  left: 3.2%;
  display: inline-block; }
  .smd-toggle-icon .inner {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #FFF; }
    .smd-toggle-icon .inner .s-text {
      line-height: 1.8em;
      font-size: -webkit-calc(10px + 1.7vw);
      font-size: calc(10px + 1.7vw); }
    .smd-toggle-icon .inner .s-line {
      display: inline-block;
      width: 100%;
      height: 1px;
      background: #4074b4;
      display: block;
      position: absolute;
      left: 0px; }

@media screen and (max-width: 992px) {
  .main-menu ul li span {
    padding: 8px 20px; } }
@media screen and (max-width: 768px) {
  .page-header .wrapper-container {
    padding: 0px; }

  .left-meta {
    width: 42%;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0% 0% 0% 0px;
    top: -webkit-calc(8% + 0px);
    top: calc(8% + 0px); }

  .main-menu {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
    position: fixed;
    left: -100%;
    background: #425f65;
    z-index: 999;
    min-height: 100%;
    z-index: 9999;
    width: 100%;
    top: 0px;}
    .main-menu.menu-active {
      left: 0px;
      -webkit-transition-duration: 0.4s;
           -o-transition-duration: 0.4s;
              transition-duration: 0.4s; }
    .main-menu ul {
      position: relative;
      width: 100%;
      padding-top: 50px; }
      .main-menu ul .ico-close-menu {
        font-weight: 400;
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 10px;
        width: auto;
        padding: 0px;
        border: none;
        color: #FFF;
        font-size: 28px; }
      .main-menu ul li {
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 0px;
        border-bottom: 1px solid #FFF;
        width: 100%;
        display: block;
        text-align: center; }
        .main-menu ul li:last-child {
          border-bottom: none; }
          .main-menu ul li:last-child a {
            margin-top: 0.9rem; } }
@media screen and (max-width: 400px) {
  .left-meta {
    top: -webkit-calc(7% - 5px);
    top: calc(7% - 5px); } }
/* footer
 -----------------------------------------------------*/
.page-footer {
  background: #00397f; }
  .page-footer p {
    color: #FFF; }
  .page-footer span {
    color: #FFF; }
  .page-footer .title {
    font-size: -webkit-calc(6px + 0.8vw);
    font-size: calc(6px + 0.8vw);
    font-weight: bold; }
  .page-footer .top-footer {
    background: #064695;
    padding: 30px 0px; }
    .page-footer .top-footer .title {
      color: #fab126;
      margin-bottom: 20px; }
    .page-footer .top-footer .content p {
      display: inline-block; }
    .page-footer .top-footer .content span {
      display: block; }
    .page-footer .top-footer .content .text-1 {
      float: left; }

    .page-footer .top-footer .content .text-1 a {
      white-space: nowrap;
    } 
    .page-footer .top-footer .content .text-1 a:hover{
      color: #FFF;
      text-decoration: underline;
    } 
      .page-footer .top-footer .content .text-1 span {
        font-weight: bold; }
    .page-footer .top-footer .content .text-3 {
      font-weight: bold; }
    .page-footer .top-footer .content .img-1 {
      float: left;
      margin-right: 10px;
      width: 13.5%; }
    .page-footer .top-footer .content a {
      display: inline-block;
      width: 48%; }
      .page-footer .top-footer .content a img {
        width: 100%; }

.page-footer .top-footer .content a:hover img{
  transform: scale(1.05);
  transition-duration: 0.2s;
}  
  .page-footer .bot-footer {
    padding: 30px 0px 0px; }
    .page-footer .bot-footer .yt-address .title {
      color: #fab126;
      margin-bottom: 10px; }
    .page-footer .bot-footer .yt-address p {
      margin-bottom: 10px; }
    .page-footer .bot-footer .yt-address p strong:hover{
      text-decoration: underline;
    }  
    .page-footer .bot-footer .yt-address p:hover a{
      color: #FFF;
    } 
    .page-footer .bot-footer .yt-address .md-col {
      margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .page-footer .bot-footer .yt-address .md-col{
      margin-bottom: 10px;
    }
    .page-footer .top-footer{
      padding: 28px 0px 10px;
    }
    .page-footer .top-footer .col-sm-6 {
      margin-bottom: 30px; }
    .page-footer .title {
      font-size: -webkit-calc(10px + 1.7vw);
      font-size: calc(10px + 1.7vw); } }

@media screen and (max-width: 575px) {
  .page-footer .top-footer .content .img-1 {
    width: 7%; }
  .page-footer .top-footer .content a {
    width: 25%; }
    .page-footer .top-footer .content a:first-child {
      margin-right: 10px; } }
/* module css 01
 -----------------------------------------------------*/
.md-mobile {
  display: none !important; }

@media screen and (max-width: 768px) {
  .md-desktop {
    display: none !important; }

  .md-mobile {
    display: block !important; } }
.smd-table {
  display: table; }

.smd-table-cell-middle {
  display: table-cell;
  vertical-align: middle; }

.scrool-to-section {
  width: 22%; }
  .scrool-to-section img {
    cursor: pointer;
    width: 100%; }

.wrapper-smd-button .smd-button {
  display: table;
  margin: 0 auto; }

.smd-button .inner-smd-button {
  display: table;
  margin: 0 auto; }
.smd-button span {
  white-space: nowrap;
  cursor: pointer;
  color: #FFF;
  background: #FFF;
  display: inline-block;
  text-align: center;
  font-family: 'iCielCadena';
  padding: 10px 19px;
  min-width: 180px;
  border-radius: 25px;
  font-size: -webkit-calc(5px + 0.8vw);
  font-size: calc(5px + 0.8vw);
  -webkit-transition: 0.7s;
       -o-transition: 0.7s;
          transition: 0.7s; }
  @media screen and (max-width: 768px) {
    .smd-button span {
      font-size: -webkit-calc(8px + 2vw);
      font-size: calc(8px + 2vw);
      padding: 7px 19px; } }
  .smd-button span:hover {
    background: #67ad60;
    -webkit-transition: 0.4s;
         -o-transition: 0.4s;
            transition: 0.4s; }

.background-yellow {
  background: #e6a427 !important;
  -webkit-transition: 0.7s;
       -o-transition: 0.7s;
          transition: 0.7s;
  border: 2px solid #e6a427 !important; }
  .background-yellow:hover {
    color: #FFF !important;
    border: 2px solid #FFF !important;
    -webkit-transition: 0.5s;
         -o-transition: 0.5s;
            transition: 0.5s; }

.border-yellow {
  border: 2px solid #e6a427 !important; }

.border-green {
  border: 2px solid #67ad60 !important;
  -webkit-transition: 0.7s;
       -o-transition: 0.7s;
          transition: 0.7s; }
  .border-green:hover {
    color: #FFF !important;
    background: #67ad60 !important;
    border: 2px solid #67ad60 !important;
    -webkit-transition: 0.7s;
         -o-transition: 0.7s;
            transition: 0.7s; }

.background-green {
  background: #67ad60 !important;
  -webkit-transition: 0.7s;
       -o-transition: 0.7s;
          transition: 0.7s; }
  .background-green:hover {
    color: #67ad60 !important;
    background: #FFF !important;
    border: 2px solid #67ad60 !important;
    -webkit-transition: 0.7s;
         -o-transition: 0.7s;
            transition: 0.7s; }

.color-green {
  color: #67ad60 !important; }

.color-black {
  color: #141414 !important; }

.color-yellow {
  color: #fab126 !important; }

.color-while {
  color: #FFF !important; }

.wrapper-container {
  display: inline-block;
  margin: 0 auto;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .wrapper-container {
      width: 100%; } }

.container-grid {
  width: 81.25%;
  display: table;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .container-grid {
      width: 100%;
      padding: 0px 3%; } }

.smd-title {
  font-family: 'iCielCadena'; }

.smd-section {
  padding-top: 3rem; }

.about-us .container-grid-1 {
  width: 89%;
  margin-left: 9.3%; }
.about-us .fl-left {
  width: 52%;
  padding-right: 5.8%; }
  .about-us .fl-left .info {
    margin-bottom: 2rem; }
.about-us .fl-right {
  width: 42%; }
  .about-us .fl-right .s-item {
    float: left;
    display: inline-block; }
    .about-us .fl-right .s-item img {
      width: 100%; }
    .about-us .fl-right .s-item.s-item-1 {
      position: relative;
      width: 80%;
      margin-bottom: 1rem; }
      .about-us .fl-right .s-item.s-item-1 .icon {
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
             -o-transform: translateY(-50%);
                transform: translateY(-50%);
        left: -10%; }
        .about-us .fl-right .s-item.s-item-1 .icon .img {
          padding-right: 2%;
          width: 15%; }
        .about-us .fl-right .s-item.s-item-1 .icon span {
          color: #FFF;
          font-family: 'iCielCadena';
          white-space: nowrap; }
    .about-us .fl-right .s-item.s-item-2 {
      width: -webkit-calc(25% - 0.5rem);
      width: calc(25% - 0.5rem);
      margin-right: 1rem; }
    .about-us .fl-right .s-item.s-item-3 {
      width: -webkit-calc(75% - 0.5rem);
      width: calc(75% - 0.5rem); }

@media screen and (max-width: 768px) {
  .about-us {
    padding: 0 3%; }
    .about-us .container-grid-1 {
      width: 100%;
      margin-left: 0; }
    .about-us .fl-left {
      width: 100%;
      display: block;
      padding: 0px 0px 0px; }
    .about-us .fl-right {
      width: 100%;
      display: block; }
      .about-us .fl-right .play-video {
        margin-bottom: 1rem;
        display: block; }
      .about-us .fl-right .smd-button {
        display: table !important; }
      .about-us .fl-right .s-item.s-item-1 {
        width: 100%; }
        .about-us .fl-right .s-item.s-item-1 .icon {
          left: 50% !important;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
               -o-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center; }
          .about-us .fl-right .s-item.s-item-1 .icon .img {
            width: 10%; }
          .about-us .fl-right .s-item.s-item-1 .icon.smd-table .smd-table-cell-middle {
            display: inline-block;
            width: 100%; }
            .about-us .fl-right .s-item.s-item-1 .icon.smd-table .smd-table-cell-middle img {
              width: 9%;
              min-width: 39px; } }
.changer-12 .content {
  padding: 2rem 0px 1rem;
  background: url(../images/bg-green.png) repeat top center;
  clear: both;
  overflow: hidden; }
.changer-12 .line {
  display: block;
  height: auto;
  overflow: hidden;
  clear: both;
  width: 100%; }
  .changer-12 .line.line-button {
    margin-top: -1px; }
  .changer-12 .line.line-top {
    margin-bottom: -1px; }
.changer-12 .info {
  overflow: hidden;
  padding-top: 1rem; }
.changer-12 ul {
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0px 28px; }
  .changer-12 ul li {
    margin-bottom: 1.2rem;
    color: #FFF;
    position: relative;
    display: table; }
    .changer-12 ul li:before {
      position: absolute;
      left: -24px;
      top: 0.2rem;
      content: "";
      width: 15px;
      height: 20px;
      background: url(../images/ico-star.png) no-repeat top center;
      -webkit-background-size: 100% auto;
              background-size: 100% auto; }
.changer-12 .smd-button {
  margin-bottom: 3rem; }
@media screen and (max-width: 768px) {
  .changer-12 {
    margin-top: 1rem; }
    .changer-12 ul {
      width: 100%;
      padding: 0px 0px 0px 25px; }
      .changer-12 ul li:before {
        left: -20px; } }

.topic-12 .btn-group {
  margin: 2rem 0px 1rem;
  display: block;
  width: 100%;
  text-align: center; }
  .topic-12 .btn-group .inner-btn-group {
    display: table;
    margin: 0 auto; }
    .topic-12 .btn-group .inner-btn-group .smd-button {
      float: left; }
      .topic-12 .btn-group .inner-btn-group .smd-button:first-child {
        margin-right: 1.5rem; }
      @media screen and (max-width: 420px) {
        .topic-12 .btn-group .inner-btn-group .smd-button {
          width: 100%; }
          .topic-12 .btn-group .inner-btn-group .smd-button:first-child {
            margin: 0px 0px 1rem; }
          .topic-12 .btn-group .inner-btn-group .smd-button span {
            padding: 12px 10px;
            display: block; } }
.topic-12 .content {
  color: #333333;
  font-weight: bold;
  border: 1px solid #dddddd;
  padding: 1rem 2.5rem;
  border-radius: 15px; }
  .topic-12 .content ul li {
    padding: 0.8rem 0px;
    border-bottom: 1px solid #dddddd;
    display: block;
    width: 100%; }
    .topic-12 .content ul li .ss-item {
      display: inline-block;
      width: 50%;
      float: left; }
      .topic-12 .content ul li .ss-item span {
        background: #e6a427;
        display: inline-block;
        float: left;
        text-align: center;
        border-radius: 15px;
        padding: 0.1rem 0.5rem;
        white-space: nowrap; }
      .topic-12 .content ul li .ss-item p {
        padding-left: 0.7rem;
        display: inline-block;
        overflow: hidden; }
      @media screen and (min-width: 768px) {
        .topic-12 .content ul li .ss-item {
          font-size: -webkit-calc(5px + 0.7vw);
          font-size: calc(5px + 0.7vw); } }
@media screen and (max-width: 768px) {
  .topic-12 .content {
    padding: 1rem .7rem; }
    .topic-12 .content ul li {
      border-bottom: none;
      margin: 0px;
      padding: 0px; }
      .topic-12 .content ul li .ss-item {
        margin-bottom: 0.7rem;
        width: 100%; } }

.section-progess .wrapper-container {
  padding: 2.5rem 0px 2.5rem;
  background: #044390; }
.section-progess .container-grid-2 {
  width: 93%;
  display: table;
  margin: 0 auto; }
.section-progess .smd-tab-grid {
  width: 30%;
  margin-right: 3.33%;
  display: inline-block;
  float: left; }
  .section-progess .smd-tab-grid:last-child {
    margin-right: 0%; }
.section-progess .smd-tab-menu {
  text-align: center; }
  .section-progess .smd-tab-menu .step-wrapper {
    position: relative; }
    .section-progess .smd-tab-menu .step-wrapper.step-wrapper-3:before {
      display: none; }
    .section-progess .smd-tab-menu .step-wrapper:before {
      content: "";
      width: 40%;
      height: 1px;
      border-top: 2px dotted #33639a;
      display: block;
      position: absolute;
      right: -24%;
      top: 47%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%); }
    .section-progess .smd-tab-menu .step-wrapper .s-cirle {
      background: #044390;
      height: 20px;
      width: 40px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 47%;
      right: -webkit-calc(-3.9% - 20px);
      right: calc(-3.9% - 20px);
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
           -o-transform: translateY(-50%);
              transform: translateY(-50%); }
      .section-progess .smd-tab-menu .step-wrapper .s-cirle .inner {
        border: 2px solid #33639a;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto; }
  .section-progess .smd-tab-menu .step {
    padding: 0px 3px 0px 2px;
    background: #044390;
    position: relative;
    display: inline-block;
    margin-bottom: 1rem; }
    .section-progess .smd-tab-menu .step span {
      white-space: nowrap;
      display: inline-block;
      color: #FFF;
      font-family: 'iCielCadena';
      background: url(../images/bg-step.png) no-repeat center;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      padding: 0rem 2.8rem;
      line-height: 3.8em;
      font-size: -webkit-calc(7px + 0.9vw);
      font-size: calc(7px + 0.9vw); }
  .section-progess .smd-tab-menu .text-1 {
    display: block;
    font-family: 'iCielCadena';
    font-size: -webkit-calc(7px + 0.9vw);
    font-size: calc(7px + 0.9vw); }
.section-progess .smd-tab-content {
  display: block;
  color: #FFF;
  padding: 1.2rem 0px 0px 0px; }
.section-progess .info {
  display: block;
  padding: 1rem 0px 1rem 0px; }
@media screen and (max-width: 768px) {
  .section-progess .smd-tab-menu {
    display: table;
    min-height: auto !important; }
    .section-progess .smd-tab-menu .step-wrapper {
      display: table-cell;
      vertical-align: middle; }
      .section-progess .smd-tab-menu .step-wrapper:before {
        display: none; }
      .section-progess .smd-tab-menu .step-wrapper .step {
        margin-bottom: 0rem;
        margin-right: 7px; }
        .section-progess .smd-tab-menu .step-wrapper .step span {
          font-size: -webkit-calc(8px + 1.7vw);
          font-size: calc(8px + 1.7vw);
          padding: 0rem 1rem;
          line-height: 3em; }
    .section-progess .smd-tab-menu .text-1 {
      font-size: -webkit-calc(8px + 1.7vw);
      font-size: calc(8px + 1.7vw); }
    .section-progess .smd-tab-menu .text-2 {
      font-size: -webkit-calc(6px + 1.5vw);
      font-size: calc(6px + 1.5vw); }
    .section-progess .smd-tab-menu .text-group {
      text-align: left;
      display: table-cell;
      vertical-align: middle; }
  .section-progess .smd-tab-grid {
    border-radius: 12px;
    border: 2px solid #3669a6;
    margin-bottom: 2rem;
    width: 100%;
    margin-right: 0px; }
  .section-progess .smd-tab-menu {
    position: relative;
    display: block;
    width: 100%;
    padding: 3% 3%;
    min-height: auto !important; }
    .section-progess .smd-tab-menu.active {
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s; }
      .section-progess .smd-tab-menu.active:before {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg); }
    .section-progess .smd-tab-menu:before {
      right: 10px;
      content: "";
      position: absolute;
      top: -webkit-calc(50% - 4px);
      top: calc(50% - 4px);
      width: 8px;
      height: 8px;
      display: inline-block;
      background: url(../images/arrow-1.png) no-repeat center center;
      -webkit-background-size: 100% auto;
              background-size: 100% auto;
      -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
           -o-transform: rotate(-180deg);
              transform: rotate(-180deg); }
  .section-progess .smd-tab-content {
    display: none;
    border-top: 2px solid #3669a6;
    -webkit-transition-duration: 5s;
         -o-transition-duration: 5s;
            transition-duration: 5s;
    padding: 2.5% 3% 3%; }
    .section-progess .smd-tab-content.active {
      display: block;
      -webkit-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s; } }

.md-modal-fancybox .fancybox-close-small {
  width: 29px;
  top: 10px;
  right: 10px;
  background: url(../images/ico-close.png) no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto; }
  .md-modal-fancybox .fancybox-close-small svg {
    display: none; }

#modal-sucess {
  display: none;
  text-align: center;
  border-radius: 15px;
  font-weight: bold; }
  #modal-sucess .icon {
    width: 100%; }
    #modal-sucess .icon img {
      width: 20%;
      max-width: 100px;
      min-width: 70px; }
  #modal-sucess .smd-title {
    margin: 0px 0px 25px; }
  @media screen and (max-width: 768px) {
    #modal-sucess {
      width: 95%;
      padding: 44px 10px; } }

#modal-alert {
  display: none;
  border-radius: 15px; }
  #modal-alert .fancybox-close-small {
    display: none; }
  #modal-alert .smd-button span:hover {
    color: #000 !important;
    border: 2px solid yellow !important; }
  #modal-alert .smd-title {
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    #modal-alert {
      max-width: 700px;
      min-width: 650px; } }
  @media screen and (max-width: 500px) {
    #modal-alert {
      padding: 44px 7px;
      width: 96%; }
      #modal-alert .smd-title {
        margin-bottom: 2rem;
        font-size: 1.3rem; } }

#modal-detail {
  border-radius: 15px;
  display: none; }
  @media screen and (min-width: 768px) {
    #modal-detail {
      max-width: 900px;
      min-width: 650px;
      width: 70%; }
      #modal-detail .fancybox-close-small {
        right: 20px;
        top: 20px; } }
  @media screen and (max-width: 500px) {
    #modal-detail {
      padding: 44px 7px;
      width: 96%; } }
  #modal-detail .smd-title {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  #modal-detail .content {
    height: 100%;
    width: 100%; }

/* module css 01
 -----------------------------------------------------*/
.md-mobile {
  display: none !important; }

.md-desktop {
  display: block !important; }

@media screen and (max-width: 767px) {
  .md-mobile {
    display: block !important; }

  .md-desktop {
    display: none !important; } }
.container-grid-4 {
  margin: 0 auto;
  width: 81.25%; }

@media screen and (max-width: 767px) {
  .container-grid-4 {
    width: 100%;
    padding: 3%; } }
.section-9 {
  background: url(../images/bg-sc-9.jpg) no-repeat top left;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  padding: 70px 0px 40px;
  background-color: #0f5cac; }
  .section-9 .md-form {
    float: left;
    width: 42.7%;
    display: inline-block; }
    .section-9 .md-form h3 {
      color: #fab126;
      text-align: center; }
    .section-9 .md-form .ui.form label {
      display: block;
      color: #FFF;
      font-size: -webkit-calc(5px + 0.8vw);
      font-size: calc(5px + 0.8vw); }
    .section-9 .md-form .ui.form .field {
      width: 32%;
      display: inline-block; }
      .section-9 .md-form .ui.form .field label {
        padding-left: 1.45em; }
      .section-9 .md-form .ui.form .field label:before {
        border: 1.5px solid #FFF;
        background: transparent !important; }
      .section-9 .md-form .ui.form .field label:after {
        background-color: #fab126 !important; }
      .section-9 .md-form .ui.form .field .ui.checkbox.checked label:before {
        border-color: #fab126 !important;
        background: transparent !important;
        border: 1.5px solid #fab126 !important;
        border-color: #fab126 !important; }
    .section-9 .md-form .ui.form input[type="button"] {
      border: none;
      margin: 0 auto;
      display: table;
      white-space: nowrap;
      cursor: pointer;
      color: #000;
      background: #e6a427;
      text-align: center;
      font-family: 'iCielCadena';
      padding: 10px 19px;
      min-width: 180px;
      border-radius: 20px;
      font-size: -webkit-calc(5px + 0.8vw);
      font-size: calc(5px + 0.8vw);
      border: 2px solid #e6a427; }
      .section-9  form .ui.selection.dropdown{
        min-width: 100%;
      }
      @media screen and (max-width: 768px) {
        .section-9 .md-form .ui.form input[type="button"] {
          font-size: -webkit-calc(8px + 2vw);
          font-size: calc(8px + 2vw); } }
      .section-9 .md-form .ui.form input[type="button"]:hover {
        color: #FFF;
        transition-duration: 0.3s;
        border: 2px solid #FFF; }
    .section-9 .md-form .md-col {
      margin-bottom: 20px; }
      .section-9 .md-form .md-col:first-child {
        margin-bottom: 0px; }
    .section-9 .md-form .error {
      font-size: 12px;
      color: #ff0000;
      padding-top: 5px; }
  .section-9 .organizational {
    padding-top: 10px;
    width: 56.3%;
    float: left; }
    .section-9 .organizational .img-1 {
      width: 54.5%;
      margin-left: 21%;
      margin-bottom: 10px; }
    .section-9 .organizational .img-2 {
      width: 35%;
      margin-left: 30%; }
      .section-9 .organizational .img-2 p {
        text-align: center;
        margin-bottom: 5px;
        color: #FFF; }
      .section-9 .organizational .img-2 img {
        width: 100%; }

@media screen and (max-width: 1110px) {
  .section-9 .organizational .img-1 {
    margin-bottom: 50px; } }
@media screen and (max-width: 767px) {
  .section-9 {
    background: url(../images/bg-sc-9-mb.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-color: none;
    padding: 50px 0px; }
    .section-9 .md-form {
      width: 100%;
      margin-bottom: 30px;
      padding: 0px 16%; }
      .section-9 .md-form .ui.form label {
        font-size: -webkit-calc(8px + 1.7vw);
        font-size: calc(8px + 1.7vw); }
    .section-9 .organizational {
      width: 100%; }
      .section-9 .organizational .img-1 {
        display: none; }
      .section-9 .organizational .img-2 {
        display: table;
        margin: 0 auto; }
        .section-9 .organizational .img-2 img {
          min-width: 200px; }

  .section-9 .md-form .error {
    font-size: -webkit-calc(11px + 0.3vw);
    font-size: calc(11px + 0.3vw); }

  .section-9 .md-form .ui.form .field label {
    padding-left: 1.3em; } }
@media screen and (max-width: 520px) {
  .section-9 .md-form .ui.form .field label {
    font-size: -webkit-calc(6px + 1.8vw);
    font-size: calc(6px + 1.8vw); } }
@media screen and (max-width: 430px) {
  .section-9 .md-form {
    padding: 0px 10%; } }
.section-7 {
  text-align: center;
  padding-top: 50px; }
  .section-7 h3 {
    color: #67ad60;
    margin-bottom: 30px; }
    .section-7 h3:hover {
      color: #67ad60 !important; }
  .section-7 .bordered {
    border: solid #ddd 1px;
    border-radius: 20px;
    margin-bottom: 30px; }
    .section-7 .bordered tr th {
      border: solid #ddd 1px;
      padding: 15px 0px;
      border-top: 0px;
      font-size: -webkit-calc(7px + 0.8vw);
      font-size: calc(7px + 0.8vw);
      font-weight: bold; }
      .section-7 .bordered tr th:first-child {
        border-left: 0px; }
      .section-7 .bordered tr th:last-child {
        border-right: 0px; }
    .section-7 .bordered tr td {
      padding: 10px 30px; }
      .section-7 .bordered tr td .img-1 {
        width: 10%; }
      .section-7 .bordered tr td .img-2 {
        width: 12%; }
      .section-7 .bordered tr td span {
        display: block;
        font-weight: 500; }
    .section-7 .bordered tr td:first-child {
      text-align: left;
      width: 33%;
      border: solid #ddd 1px;
      border-left: 0px;
      font-weight: bold; }
    .section-7 .bordered tr td:nth-child(2) {
      width: 22.5%;
      border: solid #ddd 1px; }
    .section-7 .bordered tr td:nth-child(3) {
      width: 21.3%;
      border: solid #ddd 1px; }
    .section-7 .bordered tr td:nth-child(4) {
      border: solid #ddd 1px; }
    .section-7 .bordered tr:last-child td {
      border-bottom: 0px; }
    .section-7 .bordered tr td:last-child {
      border-right: 0px; }
    .section-7 .bordered .tuition {
      font-family: 'iCielCadena';
      color: #e6a427;
      font-size: -webkit-calc(10px + 0.8vw);
      font-size: calc(10px + 0.8vw);
      font-weight: bold; }
  .section-7 .slide-mb {
    text-align: left;
    margin-bottom: 30px; }
    .section-7 .slide-mb p {
      color: #000;
      border: solid #ddd 1px;
      margin-bottom: 0px;
      padding: 10px 30px; }
      .section-7 .slide-mb p span {
        color: #000;
        display: block;
        color: #e6a427; }
      .section-7 .slide-mb p:first-child {
        border-radius: 20px 20px 0px 0px;
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(2) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(3) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(4) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:nth-child(5) {
        border-bottom: 0px; }
      .section-7 .slide-mb p:last-child {
        border-radius: 0px 0px 20px 20px; }
    .section-7 .slide-mb .owl-dots .owl-dot.active span {
      background: #67ad60; }
    .section-7 .slide-mb .owl-dots .owl-dot:focus {
      outline: none; }
    .section-7 .slide-mb .owl-dots .owl-dot:hover span {
      background: #67ad60; }
    .section-7 .slide-mb .owl-stage {
      padding-left: 0px !important; }

.section-8 {
  width: 71.5%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 60px; }
  .section-8 p {
    color: #000; }
  .section-8 .top-sc-8 {
    background: #FFF;
    position: relative;
    border: 1.5px dashed #dddddd;
    border-radius: 40px;
    padding: 60px 30px 30px; }
    .section-8 .top-sc-8 .md-rm {
      white-space: nowrap;
      cursor: pointer;
      color: #FFF;
      background: #FFF;
      display: inline-block;
      text-align: center;
      font-family: "iCielCadena";
      padding: 10px 19px;
      min-width: 180px;
      border-radius: 20px;
      z-index: 2;
      font-size: -webkit-calc(8px + 2vw);
      font-size: calc(8px + 2vw); }
      .section-8 .top-sc-8 .md-rm:focus {
        outline: none; }
    .section-8 .top-sc-8 .bg-top {
      background: rgba(255, 255, 255, 0.8);
      height: 20%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%; }
    .section-8 .top-sc-8 h3 {
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      position: absolute;
      top: -25px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
           -o-transform: translateX(-50%);
              transform: translateX(-50%); }
      .section-8 .top-sc-8 h3 p {
        color: #67ad60;
        background: #FFF;
        margin-bottom: 0px;
        display: inline-block;
        padding: 4px 30px; }
      .section-8 .top-sc-8 h3 span {
        color: #67ad60;
        display: block;
        padding: 0px 20px; }
    .section-8 .top-sc-8 .text-1 {
      margin-left: 50px; }
    .section-8 .top-sc-8 .sponsor {
      text-align: center; }
      .section-8 .top-sc-8 .sponsor .text-2 {
        margin-left: 65px;
        color: #1051a1;
        text-transform: uppercase; }
      .section-8 .top-sc-8 .sponsor img {
        margin: 0 auto; }
      .section-8 .top-sc-8 .sponsor .img-1 {
        width: 6.8%;
        margin-right: 20px; }
      .section-8 .top-sc-8 .sponsor .img-2 {
        width: 13.9%; }
  .section-8 .bot-sc-8 {
    position: relative;
    z-index: -1;
    border: 1.5px dashed #dddddd;
    border-radius: 0px 0px 40px 40px;
    background: #fff6e5;
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 20px; }
    .section-8 .bot-sc-8 .left-content {
      width: 37%;
      float: left; }
      .section-8 .bot-sc-8 .left-content p {
        text-align: center;
        padding: 5px 10px;
        border-radius: 20px;
        background: #f31d00;
        color: #FFF;
        width: 84%;
        margin: 0 auto;
        font-size: -webkit-calc(3px + 0.8vw);
        font-size: calc(3px + 0.8vw); }
    .section-8 .bot-sc-8 .right-content {
      width: 62%;
      float: left; }

@media screen and (max-width: 767px) {
  #more {
    display: none; }

  .section-8 {
    width: 94%;
    margin-bottom: 10px; }
    .section-8 .top-sc-8 {
      position: relative;
      padding-top: 80px; }
      .section-8 .top-sc-8 h3 {
        top: -23px;
        padding: 0px 20px; }
        .section-8 .top-sc-8 h3 p {
          font-size: -webkit-calc(8px + 1.7vw);
          font-size: calc(8px + 1.7vw);
          line-height: 1.2em; }
        .section-8 .top-sc-8 h3 span {
          line-height: 1.4em; }
      .section-8 .top-sc-8 .sponsor .text-2 {
        margin-left: 0px; }
      .section-8 .top-sc-8 .sponsor .img-1 {
        width: 14.5%; }
      .section-8 .top-sc-8 .sponsor .img-2 {
        width: 30%; }
      .section-8 .top-sc-8 .border-green {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
             -o-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 5%; }
    .section-8 .bot-sc-8 {
      padding-left: 30px;
      padding-right: 30px; }
      .section-8 .bot-sc-8 .left-content {
        float: none;
        width: 100%;
        margin-bottom: 10px; }
        .section-8 .bot-sc-8 .left-content p {
          margin: 0;
          width: 75%;
          font-size: -webkit-calc(4px + 1.7vw);
          font-size: calc(4px + 1.7vw); }
      .section-8 .bot-sc-8 .right-content {
        float: none;
        width: 100%; } }
@media screen and (max-width: 370px) {
  .section-8 .bot-sc-8 .left-content p {
    width: 85%; } }
@media screen and (max-width: 900px) and (min-width: 767px) {
  .section-8 .top-sc-8 {
    padding-top: 80px; } }
@media screen and (min-width: 768px) {
  .md-rm {
    display: none !important; }

  .bg-top {
    display: none !important; } }

.section-progess .info{
  display: table;
  margin:  0 auto;
  max-width: 1000px;
}

@media screen and (min-width: 768px) {
  .section-progess .smd-tab-grid:last-child .step-wrapper::before{
    display: none;
  }  
  .section-progess .smd-tab-grid{
    width: 45%;
    /*margin-right: 5%;*/
  /*  margin: 0px 0px 30px;*/
  margin-right: 7%;
  }
  .section-progess .smd-tab-content{
    text-align: justify;
  }
  .section-progess .smd-tab-menu .step-wrapper .s-cirle{
    right: calc(-6.9% - 20px);
  }
  .section-progess .smd-tab-menu .step-wrapper:before{
    right: -27.5%;
  }
}




